# Dependencies
node_modules

# Build output
dist
dist-ssr
dist-electron
release
*.exe

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local / editor / OS
*.local
.env
.env.*
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
